openapi: 3.0.1
info:
  contact:
    email: api-support@onshape.zendesk.com
  description: |-
    ## Welcome to the Onshape REST API Explorer

    To use this API explorer, sign in to your [Onshape](https://cad.onshape.com) account in another tab, then click the **Try it out** button below (it toggles to a **Cancel** button when selected).

    See the **[API Explorer Guide](https://onshape-public.github.io/docs/api-intro/explorer/)** for help navigating this API Explorer, including **[authentication](https://onshape-public.github.io/docs/api-intro/explorer/#authentication)**.

    **Tip:** To ensure the current session isn't used when trying other authentication techniques, make sure to [remove the Onshape cookie](https://support.google.com/chrome/answer/95647#zippy=%2Cdelete-cookies-from-a-site) as per the instructions for your browser. Alternatively, you can use a private or incognito window.

    ## See Also

    * [Onshape API Guide](https://onshape-public.github.io/docs/): Our full suite of developer guides, to be used as an accompaniment to this API Explorer.
    * [Onshape Developer Portal](https://dev-portal.onshape.com/): The Onshape portal for managing your API keys, OAuth2 credentials, your Onshape applications, and your Onshape App Store entries.
    * [Authentication Guide](https://onshape-public.github.io/docs/auth/): Our guide to using API keys, request signatures, and OAuth2 in  your Onshape applications.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.onshape.com/legal/terms-of-use
  title: Onshape REST API
  version: 1.189.45668-bc4b86074dbb
  x-logo:
    url: images/logo-onshape-gray-green.svg
    backgroundColor: '#ffffff'
    altText: Onshape
    href: images/logo-onshape-gray-green.svg
  x-indeterministic-schemas:
  - BTDiffInfo
  - BTParameterSpecArray-2600
  - BTSplineDescription-2118
  - NodeModel
  - BTPFunctionDeclaration-246
  - BTPFunctionOrPredicateDeclaration-247
  - BTPExpression-9
  - SkinModel
  - BTMAnnotation-4664
  x-filter-info: ?restUserRole=PUBLIC
servers:
- description: Current
  url: https://cad.onshape.com/api/v9
security:
- BasicAuth: []
tags:
- description: Manage application preferences.
  name: APIApplication
- description: "Manage user purchases, subscriptions, and consumables."
  name: Account
- description: Create and manage enterprise aliases. (Enterprise admins only.)
  name: Alias
- description: Manage the application-specific metadata that associates application
    data with Onshape data.
  name: AppAssociativeData
- description: Access and modify application elements.
  name: AppElement
- description: Create and manage assemblies.
  name: Assembly
- description: Get billing plan data for applications.
  name: Billing
- description: "Create, modify, and translate blob elements."
  name: BlobElement
- description: "Create, read, update, and delete comments."
  name: Comment
- description: Access company information.
  name: Company
- description: Create and manage documents.
  name: Document
- description: "Access, create, and translate drawings."
  name: Drawing
- description: Access and manage Elements. Every Element in an Onshape document is
    represented by a tab.
  name: Element
- description: Access valid export rules.
  name: ExportRule
- description: Access and manage Feature Studio Elements.
  name: FeatureStudio
- description: Access and modify folder sharing permissions.
  name: Folder
- description: Access the list of things that can be inserted into a document.
  name: Insertable
- description: Access and modify metadata.
  name: Metadata
- description: Access properties associated with metadata categories.
  name: MetadataCategory
- description: Manage the set of valid Part numbers.
  name: NumberingScheme
- description: Get the OpenAPI specification for the Onshape API.
  name: OpenApi
- description: Export Parts and access Part details.
  name: Part
- description: Create valid part numbers.
  name: PartNumber
- description: Access and modify Part Studios.
  name: PartStudio
- description: "Create, access, and delete templates for properties tables."
  name: PropertiesTableTemplate
- description: Access publication information.
  name: Publication
- description: Access and update Release Management workflows.
  name: ReleasePackage
- description: "Access, delete, and enumerate revisions."
  name: Revision
- description: Access sketch information.
  name: Sketch
- description: "Create, access, and modify Tasks and Action Items."
  name: Task
- description: Access team information.
  name: Team
- description: "Access, modify, and delete thumbnails."
  name: Thumbnail
- description: "Import and export Onshape surfaces, parts, Part Studios, Assemblies,\
    \ and subassemblies to/from other file formats (STL, PARASOLID, SOLIDWORKS, etc)."
  name: Translation
- description: Access user information.
  name: User
- description: "Create, modify, and access variables."
  name: Variables
- description: Get all versions of the Onshape REST APIs.
  name: Version
- description: "Create and manage [webhooks](https://onshape-public.github.io/docs/app-dev/webhook/)."
  name: Webhook
- description: Access and modify workflows.
  name: Workflow
paths:
  /accounts/plans/{planId}/purchases:
    get:
      deprecated: false
      operationId: getPlanPurchases
      parameters:
      - explode: false
        in: path
        name: planId
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 20
          minimum: 1
          type: integer
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTListResponseBTPurchaseInfo'
          description: default response
      summary: Get a list of all app purchases made for the specified plan.
      tags:
      - Account
      x-BTVisibility: PRODUCTION
  /accounts/purchases:
    get:
      deprecated: false
      description: This API should be used within the context of an OAuth-enabled
        application.
      operationId: getPurchases
      parameters:
      - explode: true
        in: query
        name: all
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: ownPurchaseOnly
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeGoDEnabledAppPurchases
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                items:
                  $ref: '#/components/schemas/BTPurchaseInfo'
                type: array
          description: default response
      summary: Get a list of all app purchases made by the current user.
      tags:
      - Account
      x-BTVisibility: PRODUCTION
  /accounts/purchases/{pid}/consume:
    post:
      deprecated: false
      operationId: consumePurchase
      parameters:
      - explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTPurchaseIdentityParams'
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTPurchaseInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Purchase
        BasicAuth:
        - OAuth2Purchase
      summary: Mark a purchase as consumed by the current user.
      tags:
      - Account
      x-BTVisibility: PRODUCTION
  /accounts/{aid}/purchases/{pid}:
    delete:
      deprecated: false
      operationId: cancelPurchaseNew
      parameters:
      - explode: false
        in: path
        name: aid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: cancelImmediately
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                type: object
          description: default response
      security:
      - OAuth2:
        - OAuth2Purchase
        BasicAuth:
        - OAuth2Purchase
      summary: Cancel a recurring subscription for the specified account ID and purchase
        ID.
      tags:
      - Account
      x-BTVisibility: PRODUCTION
  /aliases:
    get:
      deprecated: false
      operationId: getAliasesInCompany
      parameters:
      - explode: true
        in: query
        name: prefix
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: sortColumn
        required: false
        schema:
          default: name
          type: string
        style: form
      - explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          default: asc
          type: string
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 20
          minimum: 1
          type: integer
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTListResponseBTAliasInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      summary: Get a list of all aliases that exist for your enterprise.
      tags:
      - Alias
      x-BTVisibility: PRODUCTION
    post:
      deprecated: false
      description: '`Manage users and teams` global permission is required to call
        this API.'
      operationId: createAlias
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAliasParams'
        required: true
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAliasInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: Create an alias in your enterprise.
      tags:
      - Alias
      x-BTVisibility: PRODUCTION
  /aliases/{aid}:
    delete:
      deprecated: false
      description: '`Manage users and teams` global permission is required to call
        this API.'
      operationId: deleteAlias
      parameters:
      - explode: false
        in: path
        name: aid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                type: object
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: Delete an alias from your enterprise.
      tags:
      - Alias
      x-BTVisibility: PRODUCTION
    get:
      deprecated: false
      description: Get the information for an alias ID.
      operationId: getAlias
      parameters:
      - explode: false
        in: path
        name: aid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAliasInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      summary: Get an alias by ID.
      tags:
      - Alias
      x-BTVisibility: PRODUCTION
    post:
      deprecated: false
      description: "`Manage users and teams` global permission is required to call\
        \ this API. \n* Add new users in the `additions` array. \n* Remove existing\
        \ users in the `removals` array. Attempts to remove a user that does not exist\
        \ in the Alias list will have no effect.\n* Replace the entire Alias list\
        \ with the `entries` array. \n* You can also update the alias' `name` and\
        \ `description`. \nFor example, given an Alias with members userA and userB:\
        \ \n* `additions: [userC]` results in [userA, userB, userC] \n* `removals:\
        \ [userB]` results in [userA] \n* `entries: [userC, user D]` results in [userC,\
        \ userD]"
      operationId: updateAlias
      parameters:
      - explode: false
        in: path
        name: aid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAliasParams'
        required: true
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAliasInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: "Add, remove, replace, or rename entries in an alias list."
      tags:
      - Alias
      x-BTVisibility: PRODUCTION
  /aliases/{aid}/members:
    get:
      deprecated: false
      description: This is a search-like endpoint that returns a subset of the member
        list. Use `getAlias` to return all members every time it's called.
      operationId: getAliasMembers
      parameters:
      - explode: false
        in: path
        name: aid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: prefix
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: sortColumn
        required: false
        schema:
          default: name
          type: string
        style: form
      - explode: true
        in: query
        name: sortOrder
        required: false
        schema:
          default: asc
          type: string
        style: form
      - explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int32
          minimum: 0
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          format: int32
          maximum: 20
          minimum: 1
          type: integer
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTListResponseBTAliasEntryInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      summary: Get all users and teams assigned to an alias.
      tags:
      - Alias
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/w/{wid}:
    post:
      deprecated: false
      operationId: createElement
      parameters:
      - description: The id of the document in which to perform the operation.
        explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - description: "The id of the document through which the above document should\
          \ be accessed; only applicable when accessing a version of the document.\
          \ This allows a user who has access to document a to see data from document\
          \ b, as long as document b has been linked to document a by a user who has\
          \ permission to both."
        explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: The id of the workspace in which to perform the operation.
        explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAppElementParams'
        required: true
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementModifyInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: Create a new application element.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/w/{wid}/bulkcreate:
    post:
      deprecated: false
      description: Call this faster API instead of creating multiple app elements
        one at a time or in parallel.
      operationId: bulkCreateElement
      parameters:
      - description: The id of the document in which to perform the operation.
        explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - description: "The id of the document through which the above document should\
          \ be accessed; only applicable when accessing a version of the document.\
          \ This allows a user who has access to document a to see data from document\
          \ b, as long as document b has been linked to document a by a user who has\
          \ permission to both."
        explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: The id of the workspace in which to perform the operation.
        explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAppElementBulkCreateParams'
        required: true
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementBulkCreateInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: Create multiple empty application elements at once.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/w/{wid}/e/{eid}/blob/{bid}:
    delete:
      deprecated: false
      operationId: deleteBlobSubelement
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: bid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: changeId
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementModifyInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: Delete a blob subelement from an app element.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
    get:
      deprecated: false
      description: The downloaded file can be used to retrieve stored subelements.
      operationId: downloadBlobSubelementWorkspace
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: bid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: contentDisposition
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: changeId
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                format: binary
                type: string
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: File download.
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      summary: "Download the blob element (i.e., a file) stored in an app element\
        \ in a document's workspace."
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
    post:
      deprecated: false
      description: "Request body parameters are multipart fields, so you must use\
        \ `\"Content-Type\":\"multipart/form-data\"` in the request header."
      operationId: uploadBlobSubelement
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: bid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/uploadBlobSubelement_request'
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementModifyInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: Create a new blob subelement from an uploaded file.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/w/{wid}/e/{eid}/copyassociativedata:
    post:
      deprecated: false
      description: "Can only be copied between tabs in the same document. You can\
        \ manage associativity with [translateIds](https://cad.onshape.com/glassworks/explorer/#/PartStudio/translateIds)."
      operationId: copyAssociativeData
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAppElementParamsArrayBTCopyViewAssociativeDataParams'
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppAssociativeDataArrayInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: Copy associative data from one view to another.
      tags:
      - AppAssociativeData
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/w/{wid}/e/{eid}/transactions:
    get:
      deprecated: false
      operationId: getElementTransactions
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementTransactionsInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      summary: Get a list of all transactions performed on an element.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
    post:
      deprecated: false
      description: "Creates a microbranch (i.e., a branch for a new microversion)."
      operationId: startTransaction
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAppElementStartTransactionParams'
        required: true
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementModifyInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: Start a transaction
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/w/{wid}/e/{eid}/transactions/{tid}:
    delete:
      deprecated: false
      description: "Deletes a microbranch (i.e., the branch with the microversion\
        \ for the transaction)."
      operationId: abortTransaction
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: tid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: returnError
        required: false
        schema:
          default: true
          type: boolean
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                type: object
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: Abort a transaction.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/w/{wid}/transactions:
    post:
      deprecated: false
      description: "If successful, all transactions will be committed to a single\
        \ microversion. If the call raises an error, nothing will be committed."
      operationId: commitTransactions
      parameters:
      - description: The id of the document in which to perform the operation.
        explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - description: "The id of the document through which the above document should\
          \ be accessed; only applicable when accessing a version of the document.\
          \ This allows a user who has access to document a to see data from document\
          \ b, as long as document b has been linked to document a by a user who has\
          \ permission to both."
        explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: The id of the workspace in which to perform the operation.
        explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAppElementCommitTransactionParams'
        required: true
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementModifyInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: Merge multiple transactions into one microversion.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/{vm}/{vmid}/e/{eid}/blob/{bid}:
    get:
      deprecated: false
      description: Download a blob subelement as a file.
      operationId: downloadBlobSubelement
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: vm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: vmid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: bid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: contentDisposition
        required: false
        schema:
          type: string
        style: form
      - explode: false
        in: header
        name: If-None-Match
        required: false
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: changeId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                format: binary
                type: string
            application/octet-stream:
              schema:
                format: binary
                type: string
          description: File download.
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      summary: Download a blob subelement from the specified app element.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/associativedata:
    delete:
      deprecated: false
      description: "You can manage associativity with [translateIds](https://cad.onshape.com/glassworks/explorer/#/PartStudio/translateIds)."
      operationId: deleteAssociativeData
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: parentChangeId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: associativeDataId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: externalDocumentId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: elementId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: viewId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: microversionId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: documentMicroversion
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: deterministicId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: featureId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: entityId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: occurrenceId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: referenceId
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementBasicInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: Delete the associative data from the specified app element.
      tags:
      - AppAssociativeData
      x-BTVisibility: PRODUCTION
    get:
      deprecated: false
      description: "You can manage associativity with [translateIds](https://cad.onshape.com/glassworks/explorer/#/PartStudio/translateIds)."
      operationId: getAssociativeData
      parameters:
      - description: The id of the document in which to perform the operation.
        explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - description: "The id of the document through which the above document should\
          \ be accessed; only applicable when accessing a version of the document.\
          \ This allows a user who has access to document a to see data from document\
          \ b, as long as document b has been linked to document a by a user who has\
          \ permission to both."
        explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: "Indicates which of workspace (w), version (v), or document microversion\
          \ (m) id is specified below."
        explode: false
        in: path
        name: wvm
        required: true
        schema:
          enum:
          - w
          - v
          - m
          type: string
        style: simple
      - description: "The id of the workspace, version or document microversion in\
          \ which the operation should be performed."
        explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the element in which to perform the operation.
        explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: changeId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: associativeDataId
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: externalDocumentId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: elementId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: viewId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: microversionId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: documentMicroversion
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: deterministicId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: featureId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: entityId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: occurrenceId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: true
        in: query
        name: returnIdTags
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: referenceId
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppAssociativeDataArrayInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      summary: Get the associative data for the specified app element.
      tags:
      - AppAssociativeData
      x-BTVisibility: PRODUCTION
    post:
      deprecated: false
      description: "You can manage associativity with [translateIds](https://cad.onshape.com/glassworks/explorer/#/PartStudio/translateIds)."
      operationId: postAssociativeData
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              type: string
        required: true
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppAssociativeDataArrayInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        - OAuth2Write
        BasicAuth:
        - OAuth2Read
        - OAuth2Write
      summary: Set the associative data for the specified app element.
      tags:
      - AppAssociativeData
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/blob:
    get:
      deprecated: false
      operationId: getBlobSubelementIds
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: changeId
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementIdsInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      summary: "Get a list of all blob subelement IDs for the specified workspace,\
        \ version, or microversion."
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/compare:
    get:
      deprecated: false
      description: Specify the source workspace/version/microversion in the URL and
        specify the target workspace/version/microversion in the query parameters.
      operationId: compareAppElementJson
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: workspaceId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: versionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: microversionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: jsonDifferenceFormat
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTDiffJsonResponse-2725'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      summary: Compare app element JSON trees between workspaces/versions/microversions
        in a document.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content:
    get:
      deprecated: false
      operationId: getSubElementContent
      parameters:
      - description: The id of the document in which to perform the operation.
        explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - description: "The id of the document through which the above document should\
          \ be accessed; only applicable when accessing a version of the document.\
          \ This allows a user who has access to document a to see data from document\
          \ b, as long as document b has been linked to document a by a user who has\
          \ permission to both."
        explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: "Indicates which of workspace (w), version (v), or document microversion\
          \ (m) id is specified below."
        explode: false
        in: path
        name: wvm
        required: true
        schema:
          enum:
          - w
          - v
          - m
          type: string
        style: simple
      - description: "The id of the workspace, version or document microversion in\
          \ which the operation should be performed."
        explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the element in which to perform the operation.
        explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: changeId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: baseChangeId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: subelementId
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementContentInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      summary: Get a list of all subelement IDs in a specified workspace/version/microversion.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
    post:
      deprecated: false
      operationId: updateAppElement
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAppElementUpdateParams'
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementModifyInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        - OAuth2Write
        BasicAuth:
        - OAuth2Read
        - OAuth2Write
      summary: Update the content for the specified app element.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/history:
    get:
      deprecated: false
      operationId: getAppElementHistory
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementHistoryInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      summary: Get the history of the specified all element.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/ids:
    get:
      deprecated: false
      operationId: getSubelementIds
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: changeId
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementIdsInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      summary: Get a list of all subelement IDs in a specified workspace/version/microversion.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/json:
    get:
      deprecated: false
      operationId: getJson
      parameters:
      - description: The id of the document in which to perform the operation.
        explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - description: "The id of the document through which the above document should\
          \ be accessed; only applicable when accessing a version of the document.\
          \ This allows a user who has access to document a to see data from document\
          \ b, as long as document b has been linked to document a by a user who has\
          \ permission to both."
        explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: "Indicates which of workspace (w), version (v), or document microversion\
          \ (m) id is specified below."
        explode: false
        in: path
        name: wvm
        required: true
        schema:
          enum:
          - w
          - v
          - m
          type: string
        style: simple
      - description: "The id of the workspace, version or document microversion in\
          \ which the operation should be performed."
        explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the element in which to perform the operation.
        explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the transaction in which this operation should take
          place. Transaction ids can be generated through the AppElement startTransaction
          API.
        explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - description: The id of the last change made to this application element. This
          can be retrieved from the response for any app element modification endpoint.
        explode: true
        in: query
        name: changeId
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTGetJsonResponse-2137'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      summary: Get the full JSON tree for the specified workspace/version/microversion.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/jsonpaths:
    post:
      deprecated: false
      description: Use this endpoint to return the JSON at the specified path instead
        of returning the entire JSON for the element. This POST endpoint does not
        write any information.
      operationId: getJsonPaths
      parameters:
      - description: The id of the document in which to perform the operation.
        explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - description: "The id of the document through which the above document should\
          \ be accessed; only applicable when accessing a version of the document.\
          \ This allows a user who has access to document a to see data from document\
          \ b, as long as document b has been linked to document a by a user who has\
          \ permission to both."
        explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: "Indicates which of workspace (w), version (v), or document microversion\
          \ (m) id is specified below."
        explode: false
        in: path
        name: wvm
        required: true
        schema:
          enum:
          - w
          - v
          - m
          type: string
        style: simple
      - description: "The id of the workspace, version or document microversion in\
          \ which the operation should be performed."
        explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the element in which to perform the operation.
        explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: changeId
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTGetJsonPaths-1697'
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTGetJsonPathsResponse-1544'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      summary: Get the JSON at specified paths for an element.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/subelements:
    delete:
      deprecated: false
      operationId: deleteAppElementContentBatch
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: subelementIds
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: parentChangeId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementModifyInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: "Delete multiple subelements array by document ID, workspace or version\
        \ or microversion ID, tab ID, and subelement IDs."
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/subelements/{sid}:
    delete:
      deprecated: false
      operationId: deleteAppElementContent
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: sid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: parentChangeId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementModifyInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: Deletes the content from the specified app element.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/references:
    post:
      deprecated: false
      operationId: createReference
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAppElementReferenceParams'
        required: true
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementReferenceInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: Creates a reference to an app element.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/references/{rid}:
    delete:
      deprecated: false
      operationId: deleteReference
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: parentChangeId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementReferenceInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: Delete an app element reference.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
    get:
      deprecated: false
      description: For single operations only. Use `resolveReferences` for bulk operations.
      operationId: resolveReference
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: parentChangeId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: includeInternal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementReferenceResolveInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      summary: Resolves a single reference to an app element.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
    post:
      deprecated: false
      operationId: updateReference
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvm
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAppElementReferenceParams'
        required: true
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementReferenceInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: Update an app element reference.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/resolvereferences:
    get:
      deprecated: false
      description: For bulk operations only. Use `resolveReference` for a single operation.
      operationId: resolveReferences
      parameters:
      - description: The id of the document in which to perform the operation.
        explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - description: "The id of the document through which the above document should\
          \ be accessed; only applicable when accessing a version of the document.\
          \ This allows a user who has access to document a to see data from document\
          \ b, as long as document b has been linked to document a by a user who has\
          \ permission to both."
        explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: "Indicates which of workspace (w), version (v), or document microversion\
          \ (m) id is specified below."
        explode: false
        in: path
        name: wvm
        required: true
        schema:
          enum:
          - w
          - v
          - m
          type: string
        style: simple
      - description: "The id of the workspace, version or document microversion in\
          \ which the operation should be performed."
        explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the element in which to perform the operation.
        explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: parentChangeId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: includeInternal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - explode: true
        in: query
        name: referenceIds
        required: false
        schema:
          default: ""
          type: string
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAppElementReferencesResolveInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      summary: Resolves bulk app element references.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
  /appelements/d/{did}/{wvm}/{wvmid}/resolvereferences:
    get:
      deprecated: false
      description: Resolve all references for all workspace elements. For bulk operations  only.
        Use `resolveReferences` for a single element.
      operationId: resolveAllElementReferences
      parameters:
      - description: The id of the document in which to perform the operation.
        explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - description: "The id of the document through which the above document should\
          \ be accessed; only applicable when accessing a version of the document.\
          \ This allows a user who has access to document a to see data from document\
          \ b, as long as document b has been linked to document a by a user who has\
          \ permission to both."
        explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: "Indicates which of workspace (w), version (v), or document microversion\
          \ (m) id is specified below."
        explode: false
        in: path
        name: wvm
        required: true
        schema:
          enum:
          - w
          - v
          - m
          type: string
        style: simple
      - description: "The id of the workspace, version or document microversion in\
          \ which the operation should be performed."
        explode: false
        in: path
        name: wvmid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the transaction in which this operation should take
          place. Transaction ids can be generated through the AppElement startTransaction
          API.
        explode: true
        in: query
        name: transactionId
        required: false
        schema:
          type: string
        style: form
      - description: The id of the last change made to this application element. This
          can be retrieved from the response for any app element modification endpoint.
        explode: true
        in: query
        name: parentChangeId
        required: false
        schema:
          type: string
        style: form
      - description: Whether to include references that have been deleted or inactivated.
        explode: true
        in: query
        name: includeInternal
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Comma separated string of reference ids find.
        explode: true
        in: query
        name: referenceIds
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: Comma separated string of element ids to search for references
          in.
        explode: true
        in: query
        name: elementIds
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: Whether to find references for only Onshape drawing app elements.
        explode: true
        in: query
        name: drawingsOnly
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/BTAppElementReferencesResolveInfo'
                type: object
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      summary: Resolves bulk app element references.
      tags:
      - AppElement
      x-BTVisibility: PRODUCTION
  /applications/clients/{cid}/settings/companies/{cpid}:
    delete:
      deprecated: false
      description: This API is only usable with an OAuth token and only by the current
        user or admin.
      operationId: deleteCompanyAppSettings
      parameters:
      - explode: false
        in: path
        name: cpid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: key
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                type: object
          description: default response
      summary: Delete a company's application preference settings.
      tags:
      - APIApplication
      x-BTVisibility: PRODUCTION
    get:
      deprecated: false
      description: This API is only usable with an OAuth token and only by the current
        user or admin.
      operationId: getCompanyAppSettings
      parameters:
      - explode: false
        in: path
        name: cpid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      - description: A document owned by the company. Read access to this document
          allows read access to its owning company's settings.
        explode: true
        in: query
        name: documentId
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: key
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTUserAppSettingsInfo'
          description: default response
      summary: Get company-level preference settings for an application.
      tags:
      - APIApplication
      x-BTVisibility: PRODUCTION
    post:
      deprecated: false
      description: This API is only usable with an OAuth token and only by the current
        user or admin.
      operationId: updateAppCompanySettings
      parameters:
      - explode: false
        in: path
        name: cpid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTUserAppSettingsParams'
        required: true
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                type: object
          description: default response
      summary: Update company preference settings for an application.
      tags:
      - APIApplication
      x-BTVisibility: PRODUCTION
  /applications/clients/{cid}/settings/users/{uid}:
    delete:
      deprecated: false
      description: This API is only usable with an OAuth token and only by the current
        user or admin.
      operationId: deleteAppSettings
      parameters:
      - explode: false
        in: path
        name: uid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: key
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          description: Success!
      summary: Delete a user's application preference settings.
      tags:
      - APIApplication
      x-BTVisibility: PRODUCTION
    get:
      deprecated: false
      description: This API is only usable with an OAuth token and only by the current
        user or admin.
      operationId: getUserAppSettings
      parameters:
      - explode: false
        in: path
        name: uid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: key
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTUserAppSettingsInfo'
          description: default response
      summary: Get user-level preference settings for an application.
      tags:
      - APIApplication
      x-BTVisibility: PRODUCTION
    post:
      deprecated: false
      description: This API is only usable with an OAuth token and only by the current
        user or admin.
      operationId: updateAppSettings
      parameters:
      - explode: false
        in: path
        name: uid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTUserAppSettingsParams'
        required: true
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                type: object
          description: default response
      summary: Update a user's application preference settings.
      tags:
      - APIApplication
      x-BTVisibility: PRODUCTION
  /applications/extensions/user/{uid}/client/{cid}:
    get:
      deprecated: false
      operationId: getApplicableExtensionsForClient
      parameters:
      - explode: false
        in: path
        name: uid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: cid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: validPurchases
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                items:
                  $ref: '#/components/schemas/BTAPIApplicationExtensionInfo'
                type: array
          description: default response
      security:
      - OAuth2:
        - OAuth2ReadPII
        BasicAuth:
        - OAuth2ReadPII
      summary: Get a list of the client extensions the specified user has granted/accepted
        terms for.
      tags:
      - APIApplication
      x-BTVisibility: PRODUCTION
  /assemblies/d/{did}/e/{eid}/namedViews:
    get:
      deprecated: false
      operationId: getNamedViews
      parameters:
      - description: The id of the document in which to perform the operation.
        explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - description: "The id of the document through which the above document should\
          \ be accessed; only applicable when accessing a version of the document.\
          \ This allows a user who has access to document a to see data from document\
          \ b, as long as document b has been linked to document a by a user who has\
          \ permission to both."
        explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: skipPerspective
        required: false
        schema:
          default: true
          type: boolean
        style: form
      - explode: true
        in: query
        name: includeSectionCutViews
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTNamedViewsInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      summary: Get the view data for all named views for the specified element.
      tags:
      - Assembly
      x-BTVisibility: PRODUCTION
  /assemblies/d/{did}/w/{wid}:
    post:
      deprecated: false
      operationId: createAssembly
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTModelElementParams'
        required: true
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTDocumentElementInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: Create a new assembly tab in the document.
      tags:
      - Assembly
      x-BTVisibility: PRODUCTION
  /assemblies/d/{did}/w/{wid}/e/{eid}/bomelement:
    post:
      deprecated: false
      operationId: getOrCreateBillOfMaterialsElement
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTDocumentElementInfo'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        BasicAuth:
        - OAuth2Read
      summary: "Gets the Bill Of Materials (BOM) for the specified assembly, or creates\
        \ a BOM if none exist."
      tags:
      - Assembly
      x-BTVisibility: PRODUCTION
  /assemblies/d/{did}/w/{wid}/e/{eid}/features/featureid/{fid}:
    delete:
      deprecated: false
      operationId: deleteFeature
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: fid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTFeatureApiBase-1430'
          description: Success!
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: Delete a feature from an assembly.
      tags:
      - Assembly
      x-BTVisibility: PRODUCTION
    post:
      deprecated: false
      operationId: updateFeature
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: fid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTFeatureDefinitionCall-1406'
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTFeatureDefinitionResponse-1617'
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: Update an existing feature for an Assembly.
      tags:
      - Assembly
      x-BTVisibility: PRODUCTION
  /assemblies/d/{did}/w/{wid}/e/{eid}/instance/nodeid/{nid}:
    delete:
      deprecated: false
      operationId: deleteInstance
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: nid
        required: true
        schema:
          type: string
        style: simple
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                type: object
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: Delete an instance of an assembly.
      tags:
      - Assembly
      x-BTVisibility: PRODUCTION
  /assemblies/d/{did}/w/{wid}/e/{eid}/instances:
    post:
      deprecated: false
      description: Part Studio instances may include multiple parts.
      operationId: createInstance
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAssemblyInstanceDefinitionParams'
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                type: object
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        - OAuth2Write
        BasicAuth:
        - OAuth2Read
        - OAuth2Write
      summary: "Insert an instance of a part, sketch, assembly, or Part Studio into\
        \ an assembly."
      tags:
      - Assembly
      x-BTVisibility: PRODUCTION
  /assemblies/d/{did}/w/{wid}/e/{eid}/modify:
    post:
      deprecated: false
      description: "This endpoint can include multiple modifications to an assembly\
        \ with one change. For example, it can delete/suppress/unsuppress/transform\
        \ multiple instances. It creates one history entry in the document history\
        \ list."
      operationId: modify
      parameters:
      - description: The id of the document in which to perform the operation.
        explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - description: "The id of the document through which the above document should\
          \ be accessed; only applicable when accessing a version of the document.\
          \ This allows a user who has access to document a to see data from document\
          \ b, as long as document b has been linked to document a by a user who has\
          \ permission to both."
        explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          default: ""
          type: string
        style: form
      - description: The id of the workspace in which to perform the operation.
        explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the element in which to perform the operation.
        explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAssemblyModificationParams'
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                type: object
          description: default response
      security:
      - OAuth2:
        - OAuth2Write
        BasicAuth:
        - OAuth2Write
      summary: Modify an assembly.
      tags:
      - Assembly
      x-BTVisibility: PRODUCTION
  /assemblies/d/{did}/w/{wid}/e/{eid}/occurrencetransforms:
    post:
      deprecated: false
      operationId: transformOccurrences
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAssemblyTransformDefinitionParams'
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                type: object
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        - OAuth2Write
        BasicAuth:
        - OAuth2Read
        - OAuth2Write
      summary: Transform a list of assembly occurrences.
      tags:
      - Assembly
      x-BTVisibility: PRODUCTION
  /assemblies/d/{did}/w/{wid}/e/{eid}/transformedinstances:
    post:
      deprecated: false
      operationId: insertTransformedInstances
      parameters:
      - explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: eid
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: wid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;charset=UTF-8; qs=0.09:
            schema:
              $ref: '#/components/schemas/BTAssemblyTransformedInstancesDefinitionParams'
        required: true
      responses:
        default:
          content:
            application/json;charset=UTF-8; qs=0.09:
              schema:
                $ref: '#/components/schemas/BTAssemblyInsertTransformedInstancesResponse'
          description: default response
      security:
      - OAuth2:
        - OAuth2Read
        - OAuth2Write
        BasicAuth:
        - OAuth2Read
        - OAuth2Write
      summary: Create new instances with transformation.
      tags:
      - Assembly
      x-BTVisibility: PRODUCTION
  /assemblies/d/{did}/{wvm}/{wvmid}/e/{eid}:
    get:
      deprecated: false
      description: All coordinates and translation matrix components are in meters
        (m).
      operationId: getAssemblyDefinition
      parameters:
      - description: The id of the document in which to perform the operation.
        explode: false
        in: path
        name: did
        required: true
        schema:
          type: string
        style: simple
      - description: "The id of the document through which the above document should\
          \ be accessed; only applicable when accessing a version of the document.\
          \ This allows a user who has access to document a to see data from document\
          \ b, as long as document b has been linked to document a by a user who has\
          \ permission to both."
        explode: true
        in: query
        name: linkDocumentId
        required: false
        schema:
          default: ""
          type: string
        style: form
[...]
