{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Onshape REST API",
    "description" : "## Welcome to the Onshape REST API Explorer\n\nTo use this API explorer, sign in to your [Onshape](https://cad.onshape.com) account in another tab, then click the **Try it out** button below (it toggles to a **Cancel** button when selected).\n\nSee the **[API Explorer Guide](https://onshape-public.github.io/docs/api-intro/explorer/)** for help navigating this API Explorer, including **[authentication](https://onshape-public.github.io/docs/api-intro/explorer/#authentication)**.\n\n**Tip:** To ensure the current session isn't used when trying other authentication techniques, make sure to [remove the Onshape cookie](https://support.google.com/chrome/answer/95647#zippy=%2Cdelete-cookies-from-a-site) as per the instructions for your browser. Alternatively, you can use a private or incognito window.\n\n## See Also\n\n* [Onshape API Guide](https://onshape-public.github.io/docs/): Our full suite of developer guides, to be used as an accompaniment to this API Explorer.\n* [Onshape Developer Portal](https://cad.onshape.com/appstore/dev-portal): The Onshape portal for managing your API keys, OAuth2 credentials, your Onshape applications, and your Onshape App Store entries.\n* [Authentication Guide](https://onshape-public.github.io/docs/auth/): Our guide to using API keys, request signatures, and OAuth2 in  your Onshape applications.",
    "termsOfService" : "https://www.onshape.com/legal/terms-of-use",
    "contact" : {
      "email" : "api-support@onshape.zendesk.com"
    },
    "license" : {
      "name" : "Apache 2.0",
      "url" : "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version" : "1.194.51923-8c2ff2e03a86",
    "x-logo" : {
      "url" : "images/logo-onshape-gray-green.svg",
      "backgroundColor" : "#ffffff",
      "altText" : "Onshape",
      "href" : "images/logo-onshape-gray-green.svg"
    },
    "x-indeterministic-schemas" : [ "BTDiffInfo", "BTParameterSpecArray-2600", "BTSplineDescription-2118", "NodeModel", "BTPFunctionDeclaration-246", "BTPFunctionOrPredicateDeclaration-247", "BTPExpression-9", "SkinModel", "BTMAnnotation-4664" ],
    "x-filter-info" : "?restUserRole=PUBLIC"
  },
  "servers" : [ {
    "url" : "https://cad.onshape.com/api/v10",
    "description" : "Current"
  } ],
  "security" : [ {
    "BasicAuth" : [ ]
  } ],
  "tags" : [ {
    "name" : "APIApplication",
    "description" : "Manage application preferences."
  }, {
    "name" : "Account",
    "description" : "Manage user purchases, subscriptions, and consumables."
  }, {
    "name" : "Alias",
    "description" : "Create and manage enterprise aliases. (Enterprise admins only.)"
  }, {
    "name" : "AppAssociativeData",
    "description" : "Manage the application-specific metadata that associates application data with Onshape data."
  }, {
    "name" : "AppElement",
    "description" : "Access and modify application elements."
  }, {
    "name" : "Assembly",
    "description" : "Create and manage assemblies."
  }, {
    "name" : "Billing",
    "description" : "Get billing plan data for applications."
  }, {
    "name" : "BlobElement",
    "description" : "Create, modify, and translate blob elements."
  }, {
    "name" : "Comment",
    "description" : "Create, read, update, and delete comments."
  }, {
    "name" : "Company",
    "description" : "Access company information."
  }, {
    "name" : "Document",
    "description" : "Create and manage documents."
  }, {
    "name" : "Drawing",
    "description" : "Access, create, and translate drawings."
  }, {
    "name" : "Element",
    "description" : "Access and manage Elements. Every Element in an Onshape document is represented by a tab."
  }, {
    "name" : "ExportRule",
    "description" : "Access valid export rules."
  }, {
    "name" : "FeatureStudio",
    "description" : "Access and manage Feature Studio Elements."
  }, {
    "name" : "Folder",
    "description" : "Access and modify folder sharing permissions."
  }, {
    "name" : "Insertable",
    "description" : "Access the list of things that can be inserted into a document."
  }, {
    "name" : "Metadata",
    "description" : "Access and modify metadata."
  }, {
    "name" : "MetadataCategory",
    "description" : "Access properties associated with metadata categories."
  }, {
    "name" : "NumberingScheme",
    "description" : "Manage the set of valid Part numbers."
  }, {
    "name" : "OpenApi",
    "description" : "Get the OpenAPI specification for the Onshape API."
  }, {
    "name" : "Part",
    "description" : "Export Parts and access Part details."
  }, {
    "name" : "PartNumber",
    "description" : "Create valid part numbers."
  }, {
    "name" : "PartStudio",
    "description" : "Access and modify Part Studios."
  }, {
    "name" : "PropertiesTableTemplate",
    "description" : "Create, access, and delete templates for properties tables."
  }, {
    "name" : "Publication",
    "description" : "Access publication information."
  }, {
    "name" : "ReleasePackage",
    "description" : "Access and update Release Management workflows."
  }, {
    "name" : "Revision",
    "description" : "Access, delete, and enumerate revisions."
  }, {
    "name" : "Sketch",
    "description" : "Access sketch information."
  }, {
    "name" : "Task",
    "description" : "Create, access, and modify Tasks and Action Items."
  }, {
    "name" : "Team",
    "description" : "Access team information."
  }, {
    "name" : "Thumbnail",
    "description" : "Access, modify, and delete thumbnails."
  }, {
    "name" : "Translation",
    "description" : "Import and export Onshape surfaces, parts, Part Studios, Assemblies, and subassemblies to/from other file formats (STL, PARASOLID, SOLIDWORKS, etc)."
  }, {
    "name" : "User",
    "description" : "Access user information."
  }, {
    "name" : "Variables",
    "description" : "Create, modify, and access variables."
  }, {
    "name" : "Version",
    "description" : "Get all versions of the Onshape REST APIs."
  }, {
    "name" : "Webhook",
    "description" : "Create and manage [webhooks](https://onshape-public.github.io/docs/app-dev/webhook/)."
  }, {
    "name" : "Workflow",
    "description" : "Access and modify workflows."
  } ],
  "paths" : {
    "/accounts/plans/{planId}/purchases" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "Get a list of all app purchases made for the specified plan.",
        "operationId" : "getPlanPurchases",
        "parameters" : [ {
          "name" : "planId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "maximum" : 20,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTListResponseBTPurchaseInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/accounts/purchases" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "Get a list of all app purchases made by the current user.",
        "description" : "This API should be used within the context of an OAuth-enabled application.",
        "operationId" : "getPurchases",
        "parameters" : [ {
          "name" : "all",
          "in" : "query",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "ownPurchaseOnly",
          "in" : "query",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "includeGoDEnabledAppPurchases",
          "in" : "query",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BTPurchaseInfo"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/accounts/purchases/{pid}/consume" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Mark a purchase as consumed by the current user.",
        "operationId" : "consumePurchase",
        "parameters" : [ {
          "name" : "pid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8; qs=0.09" : {
              "schema" : {
                "$ref" : "#/components/schemas/BTPurchaseIdentityParams"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTPurchaseInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Purchase" ],
          "BasicAuth" : [ "OAuth2Purchase" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/accounts/{aid}/purchases/{pid}" : {
      "delete" : {
        "tags" : [ "Account" ],
        "summary" : "Cancel a recurring subscription for the specified account ID and purchase ID.",
        "operationId" : "cancelPurchaseNew",
        "parameters" : [ {
          "name" : "aid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "pid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cancelImmediately",
          "in" : "query",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Purchase" ],
          "BasicAuth" : [ "OAuth2Purchase" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/aliases" : {
      "get" : {
        "tags" : [ "Alias" ],
        "summary" : "Get a list of all aliases that exist for your enterprise.",
        "operationId" : "getAliasesInCompany",
        "parameters" : [ {
          "name" : "prefix",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "sortColumn",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : "name"
          }
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : "asc"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "maximum" : 20,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTListResponseBTAliasInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Read" ],
          "BasicAuth" : [ "OAuth2Read" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      },
      "post" : {
        "tags" : [ "Alias" ],
        "summary" : "Create an alias in your enterprise.",
        "description" : "`Manage users and teams` global permission is required to call this API.",
        "operationId" : "createAlias",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8; qs=0.09" : {
              "schema" : {
                "$ref" : "#/components/schemas/BTAliasParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAliasInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Write" ],
          "BasicAuth" : [ "OAuth2Write" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/aliases/{aid}" : {
      "get" : {
        "tags" : [ "Alias" ],
        "summary" : "Get an alias by ID.",
        "description" : "Get the information for an alias ID.",
        "operationId" : "getAlias",
        "parameters" : [ {
          "name" : "aid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAliasInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Read" ],
          "BasicAuth" : [ "OAuth2Read" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      },
      "post" : {
        "tags" : [ "Alias" ],
        "summary" : "Add, remove, replace, or rename entries in an alias list.",
        "description" : "`Manage users and teams` global permission is required to call this API. \n* Add new users in the `additions` array. \n* Remove existing users in the `removals` array. Attempts to remove a user that does not exist in the Alias list will have no effect.\n* Replace the entire Alias list with the `entries` array. \n* You can also update the alias' `name` and `description`. \nFor example, given an Alias with members userA and userB: \n* `additions: [userC]` results in [userA, userB, userC] \n* `removals: [userB]` results in [userA] \n* `entries: [userC, user D]` results in [userC, userD]",
        "operationId" : "updateAlias",
        "parameters" : [ {
          "name" : "aid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8; qs=0.09" : {
              "schema" : {
                "$ref" : "#/components/schemas/BTAliasParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAliasInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Write" ],
          "BasicAuth" : [ "OAuth2Write" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      },
      "delete" : {
        "tags" : [ "Alias" ],
        "summary" : "Delete an alias from your enterprise.",
        "description" : "`Manage users and teams` global permission is required to call this API.",
        "operationId" : "deleteAlias",
        "parameters" : [ {
          "name" : "aid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Write" ],
          "BasicAuth" : [ "OAuth2Write" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/aliases/{aid}/members" : {
      "get" : {
        "tags" : [ "Alias" ],
        "summary" : "Get all users and teams assigned to an alias.",
        "description" : "This is a search-like endpoint that returns a subset of the member list. Use `getAlias` to return all members every time it's called.",
        "operationId" : "getAliasMembers",
        "parameters" : [ {
          "name" : "aid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "prefix",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "sortColumn",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : "name"
          }
        }, {
          "name" : "sortOrder",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : "asc"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "schema" : {
            "maximum" : 20,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 20
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTListResponseBTAliasEntryInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Read" ],
          "BasicAuth" : [ "OAuth2Read" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/w/{wid}" : {
      "post" : {
        "tags" : [ "AppElement" ],
        "summary" : "Create a new application element.",
        "operationId" : "createElement",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "description" : "The id of the document in which to perform the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "linkDocumentId",
          "in" : "query",
          "description" : "The id of the document through which the above document should be accessed; only applicable when accessing a version of the document. This allows a user who has access to document a to see data from document b, as long as document b has been linked to document a by a user who has permission to both.",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "wid",
          "in" : "path",
          "description" : "The id of the workspace in which to perform the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8; qs=0.09" : {
              "schema" : {
                "$ref" : "#/components/schemas/BTAppElementParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppElementModifyInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Write" ],
          "BasicAuth" : [ "OAuth2Write" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/w/{wid}/bulkcreate" : {
      "post" : {
        "tags" : [ "AppElement" ],
        "summary" : "Create multiple empty application elements at once.",
        "description" : "Call this faster API instead of creating multiple app elements one at a time or in parallel.",
        "operationId" : "bulkCreateElement",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "description" : "The id of the document in which to perform the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "linkDocumentId",
          "in" : "query",
          "description" : "The id of the document through which the above document should be accessed; only applicable when accessing a version of the document. This allows a user who has access to document a to see data from document b, as long as document b has been linked to document a by a user who has permission to both.",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "wid",
          "in" : "path",
          "description" : "The id of the workspace in which to perform the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8; qs=0.09" : {
              "schema" : {
                "$ref" : "#/components/schemas/BTAppElementBulkCreateParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppElementBulkCreateInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Write" ],
          "BasicAuth" : [ "OAuth2Write" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/w/{wid}/e/{eid}/blob/{bid}" : {
      "get" : {
        "tags" : [ "AppElement" ],
        "summary" : "Download the blob element (i.e., a file) stored in an app element in a document's workspace.",
        "description" : "The downloaded file can be used to retrieve stored subelements.",
        "operationId" : "downloadBlobSubelementWorkspace",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contentDisposition",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "changeId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "File download.",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Read" ],
          "BasicAuth" : [ "OAuth2Read" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      },
      "post" : {
        "tags" : [ "AppElement" ],
        "summary" : "Create a new blob subelement from an uploaded file.",
        "description" : "Request body parameters are multipart fields, so you must use `\"Content-Type\":\"multipart/form-data\"` in the request header.",
        "operationId" : "uploadBlobSubelement",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "type" : "object",
                "properties" : {
                  "transactionId" : {
                    "type" : "string"
                  },
                  "parentChangeId" : {
                    "type" : "string"
                  },
                  "description" : {
                    "type" : "string"
                  },
                  "file" : {
                    "type" : "object",
                    "description" : "File to upload.",
                    "format" : "binary"
                  },
                  "fileContentLength" : {
                    "type" : "integer",
                    "format" : "int64",
                    "default" : -1
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppElementModifyInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Write" ],
          "BasicAuth" : [ "OAuth2Write" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      },
      "delete" : {
        "tags" : [ "AppElement" ],
        "summary" : "Delete a blob subelement from an app element.",
        "operationId" : "deleteBlobSubelement",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "changeId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppElementModifyInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Write" ],
          "BasicAuth" : [ "OAuth2Write" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/w/{wid}/e/{eid}/copyassociativedata" : {
      "post" : {
        "tags" : [ "AppAssociativeData" ],
        "summary" : "Copy associative data from one view to another.",
        "description" : "Can only be copied between tabs in the same document. You can manage associativity with [translateIds](https://cad.onshape.com/glassworks/explorer/#/PartStudio/translateIds).",
        "operationId" : "copyAssociativeData",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8; qs=0.09" : {
              "schema" : {
                "$ref" : "#/components/schemas/BTAppElementParamsArrayBTCopyViewAssociativeDataParams"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppAssociativeDataArrayInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Write" ],
          "BasicAuth" : [ "OAuth2Write" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/w/{wid}/e/{eid}/transactions" : {
      "get" : {
        "tags" : [ "AppElement" ],
        "summary" : "Get a list of all transactions performed on an element.",
        "operationId" : "getElementTransactions",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppElementTransactionsInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Read" ],
          "BasicAuth" : [ "OAuth2Read" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      },
      "post" : {
        "tags" : [ "AppElement" ],
        "summary" : "Start a transaction",
        "description" : "Creates a microbranch (i.e., a branch for a new microversion).",
        "operationId" : "startTransaction",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8; qs=0.09" : {
              "schema" : {
                "$ref" : "#/components/schemas/BTAppElementStartTransactionParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppElementModifyInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Write" ],
          "BasicAuth" : [ "OAuth2Write" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/w/{wid}/e/{eid}/transactions/{tid}" : {
      "delete" : {
        "tags" : [ "AppElement" ],
        "summary" : "Abort a transaction.",
        "description" : "Deletes a microbranch (i.e., the branch with the microversion for the transaction).",
        "operationId" : "abortTransaction",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "tid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "returnError",
          "in" : "query",
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Write" ],
          "BasicAuth" : [ "OAuth2Write" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/w/{wid}/transactions" : {
      "post" : {
        "tags" : [ "AppElement" ],
        "summary" : "Merge multiple transactions into one microversion.",
        "description" : "If successful, all transactions will be committed to a single microversion. If the call raises an error, nothing will be committed.",
        "operationId" : "commitTransactions",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "description" : "The id of the document in which to perform the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "linkDocumentId",
          "in" : "query",
          "description" : "The id of the document through which the above document should be accessed; only applicable when accessing a version of the document. This allows a user who has access to document a to see data from document b, as long as document b has been linked to document a by a user who has permission to both.",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "wid",
          "in" : "path",
          "description" : "The id of the workspace in which to perform the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8; qs=0.09" : {
              "schema" : {
                "$ref" : "#/components/schemas/BTAppElementCommitTransactionParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppElementBulkModifyInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Write" ],
          "BasicAuth" : [ "OAuth2Write" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/{vm}/{vmid}/e/{eid}/blob/{bid}" : {
      "get" : {
        "tags" : [ "AppElement" ],
        "summary" : "Download a blob subelement from the specified app element.",
        "description" : "Download a blob subelement as a file.",
        "operationId" : "downloadBlobSubelement",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vm",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vmid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "contentDisposition",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "changeId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "linkDocumentId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "File download.",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              },
              "application/octet-stream" : {
                "schema" : {
                  "type" : "string",
                  "format" : "binary"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Read" ],
          "BasicAuth" : [ "OAuth2Read" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/associativedata" : {
      "get" : {
        "tags" : [ "AppAssociativeData" ],
        "summary" : "Get the associative data for the specified app element.",
        "description" : "You can manage associativity with [translateIds](https://cad.onshape.com/glassworks/explorer/#/PartStudio/translateIds).",
        "operationId" : "getAssociativeData",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "description" : "The id of the document in which to perform the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "linkDocumentId",
          "in" : "query",
          "description" : "The id of the document through which the above document should be accessed; only applicable when accessing a version of the document. This allows a user who has access to document a to see data from document b, as long as document b has been linked to document a by a user who has permission to both.",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "wvm",
          "in" : "path",
          "description" : "Indicates which of workspace (w), version (v), or document microversion (m) id is specified below.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "w", "v", "m" ]
          }
        }, {
          "name" : "wvmid",
          "in" : "path",
          "description" : "The id of the workspace, version or document microversion in which the operation should be performed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "description" : "The id of the element in which to perform the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "changeId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "associativeDataId",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "externalDocumentId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "elementId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "viewId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "microversionId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "documentMicroversion",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "deterministicId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "featureId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "entityId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "occurrenceId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "returnIdTags",
          "in" : "query",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "referenceId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppAssociativeDataArrayInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Read" ],
          "BasicAuth" : [ "OAuth2Read" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      },
      "post" : {
        "tags" : [ "AppAssociativeData" ],
        "summary" : "Set the associative data for the specified app element.",
        "description" : "You can manage associativity with [translateIds](https://cad.onshape.com/glassworks/explorer/#/PartStudio/translateIds).",
        "operationId" : "postAssociativeData",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvm",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvmid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8; qs=0.09" : {
              "schema" : {
                "type" : "string"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppAssociativeDataArrayInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Read", "OAuth2Write" ],
          "BasicAuth" : [ "OAuth2Read", "OAuth2Write" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      },
      "delete" : {
        "tags" : [ "AppAssociativeData" ],
        "summary" : "Delete the associative data from the specified app element.",
        "description" : "You can manage associativity with [translateIds](https://cad.onshape.com/glassworks/explorer/#/PartStudio/translateIds).",
        "operationId" : "deleteAssociativeData",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvm",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvmid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "parentChangeId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "associativeDataId",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "externalDocumentId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "elementId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "viewId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "microversionId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "documentMicroversion",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "deterministicId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "featureId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "entityId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "occurrenceId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "referenceId",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppElementBasicInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Write" ],
          "BasicAuth" : [ "OAuth2Write" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/blob" : {
      "get" : {
        "tags" : [ "AppElement" ],
        "summary" : "Get a list of all blob subelement IDs for the specified workspace, version, or microversion.",
        "operationId" : "getBlobSubelementIds",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvm",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvmid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "changeId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppElementIdsInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Read" ],
          "BasicAuth" : [ "OAuth2Read" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/compare" : {
      "get" : {
        "tags" : [ "AppElement" ],
        "summary" : "Compare app element JSON trees between workspaces/versions/microversions in a document.",
        "description" : "Specify the source workspace/version/microversion in the URL and specify the target workspace/version/microversion in the query parameters.",
        "operationId" : "compareAppElementJson",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvm",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvmid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "workspaceId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "versionId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "microversionId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "linkDocumentId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "jsonDifferenceFormat",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTDiffJsonResponse-2725"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Read" ],
          "BasicAuth" : [ "OAuth2Read" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content" : {
      "get" : {
        "tags" : [ "AppElement" ],
        "summary" : "Get a list of all subelement IDs in a specified workspace/version/microversion.",
        "operationId" : "getSubElementContent",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "description" : "The id of the document in which to perform the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "linkDocumentId",
          "in" : "query",
          "description" : "The id of the document through which the above document should be accessed; only applicable when accessing a version of the document. This allows a user who has access to document a to see data from document b, as long as document b has been linked to document a by a user who has permission to both.",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "wvm",
          "in" : "path",
          "description" : "Indicates which of workspace (w), version (v), or document microversion (m) id is specified below.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "w", "v", "m" ]
          }
        }, {
          "name" : "wvmid",
          "in" : "path",
          "description" : "The id of the workspace, version or document microversion in which the operation should be performed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "description" : "The id of the element in which to perform the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "changeId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "baseChangeId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subelementId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppElementContentInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Read" ],
          "BasicAuth" : [ "OAuth2Read" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      },
      "post" : {
        "tags" : [ "AppElement" ],
        "summary" : "Update the content for the specified app element.",
        "operationId" : "updateAppElement",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvm",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvmid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8; qs=0.09" : {
              "schema" : {
                "$ref" : "#/components/schemas/BTAppElementUpdateParams"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppElementModifyInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Read", "OAuth2Write" ],
          "BasicAuth" : [ "OAuth2Read", "OAuth2Write" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/history" : {
      "get" : {
        "tags" : [ "AppElement" ],
        "summary" : "Get the history of the specified all element.",
        "operationId" : "getAppElementHistory",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvm",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvmid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppElementHistoryInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Read" ],
          "BasicAuth" : [ "OAuth2Read" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/ids" : {
      "get" : {
        "tags" : [ "AppElement" ],
        "summary" : "Get a list of all subelement IDs in a specified workspace/version/microversion.",
        "operationId" : "getSubelementIds",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvm",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvmid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "changeId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppElementIdsInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Read" ],
          "BasicAuth" : [ "OAuth2Read" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/json" : {
      "get" : {
        "tags" : [ "AppElement" ],
        "summary" : "Get the full JSON tree for the specified workspace/version/microversion.",
        "operationId" : "getJson",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "description" : "The id of the document in which to perform the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "linkDocumentId",
          "in" : "query",
          "description" : "The id of the document through which the above document should be accessed; only applicable when accessing a version of the document. This allows a user who has access to document a to see data from document b, as long as document b has been linked to document a by a user who has permission to both.",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "wvm",
          "in" : "path",
          "description" : "Indicates which of workspace (w), version (v), or document microversion (m) id is specified below.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "w", "v", "m" ]
          }
        }, {
          "name" : "wvmid",
          "in" : "path",
          "description" : "The id of the workspace, version or document microversion in which the operation should be performed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "description" : "The id of the element in which to perform the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionId",
          "in" : "query",
          "description" : "The id of the transaction in which this operation should take place. Transaction ids can be generated through the AppElement startTransaction API.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "changeId",
          "in" : "query",
          "description" : "The id of the last change made to this application element. This can be retrieved from the response for any app element modification endpoint.",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTGetJsonResponse-2137"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Read" ],
          "BasicAuth" : [ "OAuth2Read" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/jsonpaths" : {
      "post" : {
        "tags" : [ "AppElement" ],
        "summary" : "Get the JSON at specified paths for an element.",
        "description" : "Use this endpoint to return the JSON at the specified path instead of returning the entire JSON for the element. This POST endpoint does not write any information.",
        "operationId" : "getJsonPaths",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "description" : "The id of the document in which to perform the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "linkDocumentId",
          "in" : "query",
          "description" : "The id of the document through which the above document should be accessed; only applicable when accessing a version of the document. This allows a user who has access to document a to see data from document b, as long as document b has been linked to document a by a user who has permission to both.",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "wvm",
          "in" : "path",
          "description" : "Indicates which of workspace (w), version (v), or document microversion (m) id is specified below.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "w", "v", "m" ]
          }
        }, {
          "name" : "wvmid",
          "in" : "path",
          "description" : "The id of the workspace, version or document microversion in which the operation should be performed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "description" : "The id of the element in which to perform the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "changeId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8; qs=0.09" : {
              "schema" : {
                "$ref" : "#/components/schemas/BTGetJsonPaths-1697"
              }
            }
          }
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTGetJsonPathsResponse-1544"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Read" ],
          "BasicAuth" : [ "OAuth2Read" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/subelements" : {
      "delete" : {
        "tags" : [ "AppElement" ],
        "summary" : "Delete multiple subelements array by document ID, workspace or version or microversion ID, tab ID, and subelement IDs.",
        "operationId" : "deleteAppElementContentBatch",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvm",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvmid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "subelementIds",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "transactionId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "parentChangeId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "description",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppElementModifyInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Write" ],
          "BasicAuth" : [ "OAuth2Write" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/content/subelements/{sid}" : {
      "delete" : {
        "tags" : [ "AppElement" ],
        "summary" : "Deletes the content from the specified app element.",
        "operationId" : "deleteAppElementContent",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvm",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvmid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "sid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "parentChangeId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "description",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppElementModifyInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Write" ],
          "BasicAuth" : [ "OAuth2Write" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/references" : {
      "post" : {
        "tags" : [ "AppElement" ],
        "summary" : "Creates a reference to an app element.",
        "operationId" : "createReference",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvm",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvmid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8; qs=0.09" : {
              "schema" : {
                "$ref" : "#/components/schemas/BTAppElementReferenceParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppElementReferenceInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Write" ],
          "BasicAuth" : [ "OAuth2Write" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/references/{rid}" : {
      "get" : {
        "tags" : [ "AppElement" ],
        "summary" : "Resolves a single reference to an app element.",
        "description" : "For single operations only. Use `resolveReferences` for bulk operations.",
        "operationId" : "resolveReference",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvm",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvmid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "parentChangeId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeInternal",
          "in" : "query",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "linkDocumentId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppElementReferenceResolveInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Read" ],
          "BasicAuth" : [ "OAuth2Read" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      },
      "post" : {
        "tags" : [ "AppElement" ],
        "summary" : "Update an app element reference.",
        "operationId" : "updateReference",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvm",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvmid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8; qs=0.09" : {
              "schema" : {
                "$ref" : "#/components/schemas/BTAppElementReferenceParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppElementReferenceInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Write" ],
          "BasicAuth" : [ "OAuth2Write" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      },
      "delete" : {
        "tags" : [ "AppElement" ],
        "summary" : "Delete an app element reference.",
        "operationId" : "deleteReference",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvm",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "wvmid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "rid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "parentChangeId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "description",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppElementReferenceInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Write" ],
          "BasicAuth" : [ "OAuth2Write" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/{wvm}/{wvmid}/e/{eid}/resolvereferences" : {
      "get" : {
        "tags" : [ "AppElement" ],
        "summary" : "Resolves bulk app element references.",
        "description" : "For bulk operations only. Use `resolveReference` for a single operation.",
        "operationId" : "resolveReferences",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "description" : "The id of the document in which to perform the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "linkDocumentId",
          "in" : "query",
          "description" : "The id of the document through which the above document should be accessed; only applicable when accessing a version of the document. This allows a user who has access to document a to see data from document b, as long as document b has been linked to document a by a user who has permission to both.",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "wvm",
          "in" : "path",
          "description" : "Indicates which of workspace (w), version (v), or document microversion (m) id is specified below.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "w", "v", "m" ]
          }
        }, {
          "name" : "wvmid",
          "in" : "path",
          "description" : "The id of the workspace, version or document microversion in which the operation should be performed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "eid",
          "in" : "path",
          "description" : "The id of the element in which to perform the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "parentChangeId",
          "in" : "query",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeInternal",
          "in" : "query",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "referenceIds",
          "in" : "query",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTAppElementReferencesResolveInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Read" ],
          "BasicAuth" : [ "OAuth2Read" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/appelements/d/{did}/{wvm}/{wvmid}/resolvereferences" : {
      "get" : {
        "tags" : [ "AppElement" ],
        "summary" : "Resolves bulk app element references.",
        "description" : "Resolve all references for all workspace elements. For bulk operations  only. Use `resolveReferences` for a single element.",
        "operationId" : "resolveAllElementReferences",
        "parameters" : [ {
          "name" : "did",
          "in" : "path",
          "description" : "The id of the document in which to perform the operation.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "linkDocumentId",
          "in" : "query",
          "description" : "The id of the document through which the above document should be accessed; only applicable when accessing a version of the document. This allows a user who has access to document a to see data from document b, as long as document b has been linked to document a by a user who has permission to both.",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "wvm",
          "in" : "path",
          "description" : "Indicates which of workspace (w), version (v), or document microversion (m) id is specified below.",
          "required" : true,
          "schema" : {
            "type" : "string",
            "enum" : [ "w", "v", "m" ]
          }
        }, {
          "name" : "wvmid",
          "in" : "path",
          "description" : "The id of the workspace, version or document microversion in which the operation should be performed.",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "transactionId",
          "in" : "query",
          "description" : "The id of the transaction in which this operation should take place. Transaction ids can be generated through the AppElement startTransaction API.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "parentChangeId",
          "in" : "query",
          "description" : "The id of the last change made to this application element. This can be retrieved from the response for any app element modification endpoint.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "includeInternal",
          "in" : "query",
          "description" : "Whether to include references that have been deleted or inactivated.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "referenceIds",
          "in" : "query",
          "description" : "Comma separated string of reference ids find.",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "elementIds",
          "in" : "query",
          "description" : "Comma separated string of element ids to search for references in.",
          "schema" : {
            "type" : "string",
            "default" : ""
          }
        }, {
          "name" : "drawingsOnly",
          "in" : "query",
          "description" : "Whether to find references for only Onshape drawing app elements.",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "$ref" : "#/components/schemas/BTAppElementReferencesResolveInfo"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false,
        "security" : [ {
          "OAuth2" : [ "OAuth2Read" ],
          "BasicAuth" : [ "OAuth2Read" ]
        } ],
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/applications/clients/{cid}/settings/companies/{cpid}" : {
      "get" : {
        "tags" : [ "APIApplication" ],
        "summary" : "Get company-level preference settings for an application.",
        "description" : "This API is only usable with an OAuth token and only by the current user or admin.",
        "operationId" : "getCompanyAppSettings",
        "parameters" : [ {
          "name" : "cpid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "documentId",
          "in" : "query",
          "description" : "A document owned by the company. Read access to this document allows read access to its owning company's settings.",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTUserAppSettingsInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-BTVisibility" : "PRODUCTION"
      },
      "post" : {
        "tags" : [ "APIApplication" ],
        "summary" : "Update company preference settings for an application.",
        "description" : "This API is only usable with an OAuth token and only by the current user or admin. \n* Add or update a setting identified by key with value. \n* Operation and field may optionally be specified when updating Map type settings. \n* Field specifies the key of the setting Map to update. \n* Operation may be one of: \n    * `ADD`: Add or update an existing field of the settings Map. \n    * `UPDATE`: Update an existing field of the settings Map and return an error if the field does not exist. \n    * `REMOVE`: Remove the field from the settings Map. \n",
        "operationId" : "updateAppCompanySettings",
        "parameters" : [ {
          "name" : "cpid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8; qs=0.09" : {
              "schema" : {
                "$ref" : "#/components/schemas/BTUserAppSettingsParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-BTVisibility" : "PRODUCTION"
      },
      "delete" : {
        "tags" : [ "APIApplication" ],
        "summary" : "Delete a company's application preference settings.",
        "description" : "This API is only usable with an OAuth token and only by the current user or admin.",
        "operationId" : "deleteCompanyAppSettings",
        "parameters" : [ {
          "name" : "cpid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/applications/clients/{cid}/settings/users/{uid}" : {
      "get" : {
        "tags" : [ "APIApplication" ],
        "summary" : "Get user-level preference settings for an application.",
        "description" : "This API is only usable with an OAuth token and only by the current user or admin.",
        "operationId" : "getUserAppSettings",
        "parameters" : [ {
          "name" : "uid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BTUserAppSettingsInfo"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-BTVisibility" : "PRODUCTION"
      },
      "post" : {
        "tags" : [ "APIApplication" ],
        "summary" : "Update a user's application preference settings.",
        "description" : "This API is only usable with an OAuth token and only by the current user or admin. \n* Add or update a setting identified by key with value. \n* Operation and field may optionally be specified when updating Map type settings. \n* Field specifies the key of the setting Map to update. \n* Operation may be one of: \n    * `ADD`: Add or update an existing field of the settings Map. \n    * `UPDATE`: Update an existing field of the settings Map and return an error if the field does not exist. \n    * `REMOVE`: Remove the field from the settings Map. \n",
        "operationId" : "updateAppSettings",
        "parameters" : [ {
          "name" : "uid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8; qs=0.09" : {
              "schema" : {
                "$ref" : "#/components/schemas/BTUserAppSettingsParams"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        },
        "deprecated" : false,
        "x-BTVisibility" : "PRODUCTION"
      },
      "delete" : {
        "tags" : [ "APIApplication" ],
        "summary" : "Delete a user's application preference settings.",
        "description" : "This API is only usable with an OAuth token and only by the current user or admin.",
        "operationId" : "deleteAppSettings",
        "parameters" : [ {
          "name" : "uid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "key",
          "in" : "query",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success!"
          }
        },
        "deprecated" : false,
        "x-BTVisibility" : "PRODUCTION"
      }
    },
    "/applications/extensions/user/{uid}/client/{cid}" : {
      "get" : {
        "tags" : [ "APIApplication" ],
        "summary" : "Get a list of the client extensions the specified user has granted/accepted terms for.",
        "operationId" : "getApplicableExtensionsForClient",
        "parameters" : [ {
          "name" : "uid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "cid",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "validPurchases",
          "in" : "query",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "default" : {
            "description" : "default response",
            "content" : {
              "application/json;charset=UTF-8; qs=0.09" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
[...]
