/*
Onshape REST API

The Onshape REST API consumed by all client. # Authorization The simplest way to authorize and enable the **Try it out** functionality is to sign in to Onshape and use the current session. The **Authorize** button enables other authorization techniques. To ensure the current session isn't used when trying other authentication techniques, make sure to remove the Onshape cookie as per the instructions for your particular browser. Alternatively, a private or incognito window may be used. Here's [how to remove a specific cookie on Chrome](https://support.google.com/chrome/answer/95647#zippy=%2Cdelete-cookies-from-a-site). - **Current Session** authorization is enabled by default if the browser is already signed in to [Onshape](/). - **OAuth2** authorization uses an Onshape OAuth2 app created on the [Onshape Developer Portal](https://dev-portal.onshape.com/oauthApps). The redirect URL field should include `https://cad.onshape.com/glassworks/explorer/oauth2-redirect.html`. - **API Key** authorization using basic authentication is also available. The keys can be generated in the [Onshape Developer Portal](https://dev-portal.onshape.com/keys). In the authentication dialog, enter the access key in the `Username` field, and enter the secret key in the `Password` field. Basic authentication should only be used during the development process since sharing API Keys provides the same level of access as a username and password.

API version: 1.154.6621-03f431879e4b
Contact: api-support@onshape.zendesk.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package onshape

import (
	"context"
	"io"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)

// ReleasePackageApiService ReleasePackageApi service
type ReleasePackageApiService service

type ApiCreateObsoletionPackageRequest struct {
	ctx        context.Context
	ApiService *ReleasePackageApiService
	wfid       string
	revisionId *string
	debugMode  *bool
}

func (r ApiCreateObsoletionPackageRequest) RevisionId(revisionId string) ApiCreateObsoletionPackageRequest {
	r.revisionId = &revisionId
	return r
}

func (r ApiCreateObsoletionPackageRequest) DebugMode(debugMode bool) ApiCreateObsoletionPackageRequest {
	r.debugMode = &debugMode
	return r
}

func (r ApiCreateObsoletionPackageRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CreateObsoletionPackageExecute(r)
}

/*
CreateObsoletionPackage Update release package obsoletion by workflow ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param wfid
 @return ApiCreateObsoletionPackageRequest
*/
func (a *ReleasePackageApiService) CreateObsoletionPackage(ctx context.Context, wfid string) ApiCreateObsoletionPackageRequest {
	return ApiCreateObsoletionPackageRequest{
		ApiService: a,
		ctx:        ctx,
		wfid:       wfid,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ReleasePackageApiService) CreateObsoletionPackageExecute(r ApiCreateObsoletionPackageRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReleasePackageApiService.CreateObsoletionPackage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/releasepackages/obsoletion/{wfid}"
	localVarPath = strings.Replace(localVarPath, "{"+"wfid"+"}", url.PathEscape(parameterToString(r.wfid, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.revisionId == nil {
		return localVarReturnValue, nil, reportError("revisionId is required and must be specified")
	}

	localVarQueryParams.Add("revisionId", parameterToString(*r.revisionId, ""))
	if r.debugMode != nil {
		localVarQueryParams.Add("debugMode", parameterToString(*r.debugMode, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8; qs=0.09"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	var _ io.Reader

	if localVarHTTPResponse.StatusCode >= 300 {
		localVarBody, _ := ioutil.ReadAll(localVarHTTPResponse.Body)

		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v map[string]interface{}
		err = a.client.decode(&v, &localVarHTTPResponse.Body, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, &localVarHTTPResponse.Body, localVarHTTPResponse.Header.Get("Content-Type"))

	if err != nil {
		localVarBody, _ := ioutil.ReadAll(localVarHTTPResponse.Body)

		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateReleasePackageRequest struct {
	ctx                    context.Context
	ApiService             *ReleasePackageApiService
	wfid                   string
	bTReleasePackageParams *BTReleasePackageParams
	debugMode              *bool
}

func (r ApiCreateReleasePackageRequest) BTReleasePackageParams(bTReleasePackageParams BTReleasePackageParams) ApiCreateReleasePackageRequest {
	r.bTReleasePackageParams = &bTReleasePackageParams
	return r
}

func (r ApiCreateReleasePackageRequest) DebugMode(debugMode bool) ApiCreateReleasePackageRequest {
	r.debugMode = &debugMode
	return r
}

func (r ApiCreateReleasePackageRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.CreateReleasePackageExecute(r)
}

/*
CreateReleasePackage Update release package release by workflow ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param wfid
 @return ApiCreateReleasePackageRequest
*/
func (a *ReleasePackageApiService) CreateReleasePackage(ctx context.Context, wfid string) ApiCreateReleasePackageRequest {
	return ApiCreateReleasePackageRequest{
		ApiService: a,
		ctx:        ctx,
		wfid:       wfid,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *ReleasePackageApiService) CreateReleasePackageExecute(r ApiCreateReleasePackageRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReleasePackageApiService.CreateReleasePackage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/releasepackages/release/{wfid}"
	localVarPath = strings.Replace(localVarPath, "{"+"wfid"+"}", url.PathEscape(parameterToString(r.wfid, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bTReleasePackageParams == nil {
		return localVarReturnValue, nil, reportError("bTReleasePackageParams is required and must be specified")
	}

	if r.debugMode != nil {
		localVarQueryParams.Add("debugMode", parameterToString(*r.debugMode, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8; qs=0.09"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8; qs=0.09"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bTReleasePackageParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	var _ io.Reader

	if localVarHTTPResponse.StatusCode >= 300 {
		localVarBody, _ := ioutil.ReadAll(localVarHTTPResponse.Body)

		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v map[string]interface{}
		err = a.client.decode(&v, &localVarHTTPResponse.Body, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, &localVarHTTPResponse.Body, localVarHTTPResponse.Header.Get("Content-Type"))

	if err != nil {
		localVarBody, _ := ioutil.ReadAll(localVarHTTPResponse.Body)

		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCompanyReleaseWorkflowRequest struct {
	ctx        context.Context
	ApiService *ReleasePackageApiService
	documentId *string
}

func (r ApiGetCompanyReleaseWorkflowRequest) DocumentId(documentId string) ApiGetCompanyReleaseWorkflowRequest {
	r.documentId = &documentId
	return r
}

func (r ApiGetCompanyReleaseWorkflowRequest) Execute() (*BTActiveWorkflowInfo, *http.Response, error) {
	return r.ApiService.GetCompanyReleaseWorkflowExecute(r)
}

/*
GetCompanyReleaseWorkflow Retrieve release packages company release workflow.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetCompanyReleaseWorkflowRequest
*/
func (a *ReleasePackageApiService) GetCompanyReleaseWorkflow(ctx context.Context) ApiGetCompanyReleaseWorkflowRequest {
	return ApiGetCompanyReleaseWorkflowRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//  @return BTActiveWorkflowInfo
func (a *ReleasePackageApiService) GetCompanyReleaseWorkflowExecute(r ApiGetCompanyReleaseWorkflowRequest) (*BTActiveWorkflowInfo, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BTActiveWorkflowInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReleasePackageApiService.GetCompanyReleaseWorkflow")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/releasepackages/companyreleaseworkflow"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.documentId != nil {
		localVarQueryParams.Add("documentId", parameterToString(*r.documentId, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8; qs=0.09"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	var _ io.Reader

	if localVarHTTPResponse.StatusCode >= 300 {
		localVarBody, _ := ioutil.ReadAll(localVarHTTPResponse.Body)

		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v BTActiveWorkflowInfo
		err = a.client.decode(&v, &localVarHTTPResponse.Body, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, &localVarHTTPResponse.Body, localVarHTTPResponse.Header.Get("Content-Type"))

	if err != nil {
		localVarBody, _ := ioutil.ReadAll(localVarHTTPResponse.Body)

		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetReleasePackageRequest struct {
	ctx        context.Context
	ApiService *ReleasePackageApiService
	rpid       string
	detailed   *bool
}

func (r ApiGetReleasePackageRequest) Detailed(detailed bool) ApiGetReleasePackageRequest {
	r.detailed = &detailed
	return r
}

func (r ApiGetReleasePackageRequest) Execute() (*BTReleasePackageInfo, *http.Response, error) {
	return r.ApiService.GetReleasePackageExecute(r)
}

/*
GetReleasePackage Retrieve release packages by release package ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param rpid
 @return ApiGetReleasePackageRequest
*/
func (a *ReleasePackageApiService) GetReleasePackage(ctx context.Context, rpid string) ApiGetReleasePackageRequest {
	return ApiGetReleasePackageRequest{
		ApiService: a,
		ctx:        ctx,
		rpid:       rpid,
	}
}

// Execute executes the request
//  @return BTReleasePackageInfo
func (a *ReleasePackageApiService) GetReleasePackageExecute(r ApiGetReleasePackageRequest) (*BTReleasePackageInfo, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BTReleasePackageInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReleasePackageApiService.GetReleasePackage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/releasepackages/{rpid}"
	localVarPath = strings.Replace(localVarPath, "{"+"rpid"+"}", url.PathEscape(parameterToString(r.rpid, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.detailed != nil {
		localVarQueryParams.Add("detailed", parameterToString(*r.detailed, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8; qs=0.09"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	var _ io.Reader

	if localVarHTTPResponse.StatusCode >= 300 {
		localVarBody, _ := ioutil.ReadAll(localVarHTTPResponse.Body)

		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v BTReleasePackageInfo
		err = a.client.decode(&v, &localVarHTTPResponse.Body, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, &localVarHTTPResponse.Body, localVarHTTPResponse.Header.Get("Content-Type"))

	if err != nil {
		localVarBody, _ := ioutil.ReadAll(localVarHTTPResponse.Body)

		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateReleasePackageRequest struct {
	ctx                          context.Context
	ApiService                   *ReleasePackageApiService
	rpid                         string
	bTUpdateReleasePackageParams *BTUpdateReleasePackageParams
	action                       *string
	wfaction                     *string
}

func (r ApiUpdateReleasePackageRequest) BTUpdateReleasePackageParams(bTUpdateReleasePackageParams BTUpdateReleasePackageParams) ApiUpdateReleasePackageRequest {
	r.bTUpdateReleasePackageParams = &bTUpdateReleasePackageParams
	return r
}

func (r ApiUpdateReleasePackageRequest) Action(action string) ApiUpdateReleasePackageRequest {
	r.action = &action
	return r
}

func (r ApiUpdateReleasePackageRequest) Wfaction(wfaction string) ApiUpdateReleasePackageRequest {
	r.wfaction = &wfaction
	return r
}

func (r ApiUpdateReleasePackageRequest) Execute() (*BTReleasePackageInfo, *http.Response, error) {
	return r.ApiService.UpdateReleasePackageExecute(r)
}

/*
UpdateReleasePackage Update release packages by release package ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param rpid
 @return ApiUpdateReleasePackageRequest
*/
func (a *ReleasePackageApiService) UpdateReleasePackage(ctx context.Context, rpid string) ApiUpdateReleasePackageRequest {
	return ApiUpdateReleasePackageRequest{
		ApiService: a,
		ctx:        ctx,
		rpid:       rpid,
	}
}

// Execute executes the request
//  @return BTReleasePackageInfo
func (a *ReleasePackageApiService) UpdateReleasePackageExecute(r ApiUpdateReleasePackageRequest) (*BTReleasePackageInfo, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BTReleasePackageInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReleasePackageApiService.UpdateReleasePackage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/releasepackages/{rpid}"
	localVarPath = strings.Replace(localVarPath, "{"+"rpid"+"}", url.PathEscape(parameterToString(r.rpid, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bTUpdateReleasePackageParams == nil {
		return localVarReturnValue, nil, reportError("bTUpdateReleasePackageParams is required and must be specified")
	}

	if r.action != nil {
		localVarQueryParams.Add("action", parameterToString(*r.action, ""))
	}
	if r.wfaction != nil {
		localVarQueryParams.Add("wfaction", parameterToString(*r.wfaction, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json;charset=UTF-8; qs=0.09"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8; qs=0.09"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bTUpdateReleasePackageParams
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	var _ io.Reader

	if localVarHTTPResponse.StatusCode >= 300 {
		localVarBody, _ := ioutil.ReadAll(localVarHTTPResponse.Body)

		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		var v BTReleasePackageInfo
		err = a.client.decode(&v, &localVarHTTPResponse.Body, localVarHTTPResponse.Header.Get("Content-Type"))
		if err != nil {
			newErr.error = err.Error()
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, &localVarHTTPResponse.Body, localVarHTTPResponse.Header.Get("Content-Type"))

	if err != nil {
		localVarBody, _ := ioutil.ReadAll(localVarHTTPResponse.Body)

		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
