/*
Onshape REST API

## Welcome to the Onshape REST API Explorer  **See the [API Explorer Guide](https://onshape-public.github.io/docs/api-intro/explorer/) for help navigating this page.**  ### Using this page 1. Sign in to your [Onshape](https://cad.onshape.com) account in another tab. 2. Click the `Try it out` button below. It toggles to a `Cancel` button when selected.  ### Authenticating To authenticate your calls, click the `Authorize` button. See [API Explorer Guide: Authentication](https://onshape-public.github.io/docs/api-intro/explorer/#authentication) for details. Calls made when authenticated via API Keys or OAuth count against your annual [API limits](https://onshape-public.github.io/docs/auth/limits/#annual-api-call-limits). * **Tip:** To ensure the current session isn't used when trying other authentication techniques, make sure to [remove the Onshape cookie](https://support.google.com/chrome/answer/95647#zippy=%2Cdelete-cookies-from-a-site) as per the instructions for your browser, or use a private or incognito window.  ### Additional resources  * [Onshape API Guide](https://onshape-public.github.io/docs/): Our full suite of developer guides, to be used as an accompaniment to this API Explorer. * [Onshape Developer Portal](https://cad.onshape.com/appstore/dev-portal): The Onshape portal for managing your API keys, OAuth2 credentials, your Onshape applications, and your Onshape App Store entries. * [Authentication Guide](https://onshape-public.github.io/docs/auth/): Our guide to using API keys, request signatures, and OAuth2 in your Onshape applications.

Contact: api-support@onshape.zendesk.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package onshape

import (
	"context"
	"io"
	"net/http"
	"net/url"
)

// ProductStructureApiService ProductStructureApi service
type ProductStructureApiService service

type ApiGetWhereUsedRequest struct {
	ctx                context.Context
	ApiService         *ProductStructureApiService
	documentId         *string
	elementId          *string
	versionId          *string
	configuration      *string
	partId             *string
	partNumber         *string
	includeProperties  *bool
	filter             *int32
	includeVersionInfo *bool
	useLatestVersion   *bool
	limitToTypes       *string
}

// The id of the document in which to perform the operation.
func (r ApiGetWhereUsedRequest) DocumentId(documentId string) ApiGetWhereUsedRequest {
	r.documentId = &documentId
	return r
}

// The id of the element in which to perform the operation.
func (r ApiGetWhereUsedRequest) ElementId(elementId string) ApiGetWhereUsedRequest {
	r.elementId = &elementId
	return r
}

// The id of the version on which the operation should be performed.
func (r ApiGetWhereUsedRequest) VersionId(versionId string) ApiGetWhereUsedRequest {
	r.versionId = &versionId
	return r
}

// URL-encoded string of configuration values (separated by &#x60;;&#x60;). See the [Configurations API Guide](https://onshape-public.github.io/docs/api-adv/configs/) for details.
func (r ApiGetWhereUsedRequest) Configuration(configuration string) ApiGetWhereUsedRequest {
	r.configuration = &configuration
	return r
}

// Id of the part on which to perform the operation.
func (r ApiGetWhereUsedRequest) PartId(partId string) ApiGetWhereUsedRequest {
	r.partId = &partId
	return r
}

// Part number on which to perform the operation.
func (r ApiGetWhereUsedRequest) PartNumber(partNumber string) ApiGetWhereUsedRequest {
	r.partNumber = &partNumber
	return r
}

// If true, include metadata properties for each result item.
func (r ApiGetWhereUsedRequest) IncludeProperties(includeProperties bool) ApiGetWhereUsedRequest {
	r.includeProperties = &includeProperties
	return r
}

// Result filter ordinal. &#x60;0: LATEST_REVISION, 1: ALL_REVISIONS, 2: ALL_VERSIONS (default), 3: ALL, 4: ALL_WORKSPACES (deprecated), 5: LATEST_VERSIONS, 6: MOST_RECENT_REVISION&#x60;.
func (r ApiGetWhereUsedRequest) Filter(filter int32) ApiGetWhereUsedRequest {
	r.filter = &filter
	return r
}

// If true, include the list of document versions in which the queried item has been referenced by other documents. Each entry contains the version ID and name.
func (r ApiGetWhereUsedRequest) IncludeVersionInfo(includeVersionInfo bool) ApiGetWhereUsedRequest {
	r.includeVersionInfo = &includeVersionInfo
	return r
}

// If true, automatically resolve to the most recent referenced document version for the queried item. This is only used when includeVersionInfo&#x3D;true, documentId is provided, and versionId is not specified.
func (r ApiGetWhereUsedRequest) UseLatestVersion(useLatestVersion bool) ApiGetWhereUsedRequest {
	r.useLatestVersion = &useLatestVersion
	return r
}

// Comma-separated list of referring element type ordinals to limit results to. Valid values: 0 (PARTSTUDIO), 1 (ASSEMBLY), 2 (DRAWING).
func (r ApiGetWhereUsedRequest) LimitToTypes(limitToTypes string) ApiGetWhereUsedRequest {
	r.limitToTypes = &limitToTypes
	return r
}

func (r ApiGetWhereUsedRequest) Execute() (*BTWhereUsedItemInfoList, *http.Response, error) {
	return r.ApiService.GetWhereUsedExecute(r)
}

/*
GetWhereUsed Find where an item is used

Find where an item is used

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetWhereUsedRequest
*/
func (a *ProductStructureApiService) GetWhereUsed(ctx context.Context) ApiGetWhereUsedRequest {
	return ApiGetWhereUsedRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BTWhereUsedItemInfoList
func (a *ProductStructureApiService) GetWhereUsedExecute(r ApiGetWhereUsedRequest) (*BTWhereUsedItemInfoList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BTWhereUsedItemInfoList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductStructureApiService.GetWhereUsed")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/productstructure/whereused"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.documentId != nil {
		localVarQueryParams.Add("documentId", parameterToString(*r.documentId, ""))
	}
	if r.elementId != nil {
		localVarQueryParams.Add("elementId", parameterToString(*r.elementId, ""))
	}
	if r.versionId != nil {
		localVarQueryParams.Add("versionId", parameterToString(*r.versionId, ""))
	}
	if r.configuration != nil {
		localVarQueryParams.Add("configuration", parameterToString(*r.configuration, ""))
	}
	if r.partId != nil {
		localVarQueryParams.Add("partId", parameterToString(*r.partId, ""))
	}
	if r.partNumber != nil {
		localVarQueryParams.Add("partNumber", parameterToString(*r.partNumber, ""))
	}
	if r.includeProperties != nil {
		localVarQueryParams.Add("includeProperties", parameterToString(*r.includeProperties, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("filter", parameterToString(*r.filter, ""))
	}
	if r.includeVersionInfo != nil {
		localVarQueryParams.Add("includeVersionInfo", parameterToString(*r.includeVersionInfo, ""))
	}
	if r.useLatestVersion != nil {
		localVarQueryParams.Add("useLatestVersion", parameterToString(*r.useLatestVersion, ""))
	}
	if r.limitToTypes != nil {
		localVarQueryParams.Add("limitToTypes", parameterToString(*r.limitToTypes, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json;charset=UTF-8; qs=0.09"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	var _ io.Reader

	if localVarHTTPResponse.StatusCode >= 300 {
		localVarBody, _ := io.ReadAll(localVarHTTPResponse.Body)

		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, &localVarHTTPResponse.Body, localVarHTTPResponse.Header.Get("Content-Type"))

	if err != nil {
		localVarBody, _ := io.ReadAll(localVarHTTPResponse.Body)

		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
