package onshape_test

import (
	"context"
	"testing"

	"github.com/stretchr/testify/assert"
	"github.com/onshape-public/go-client/onshape"
)

func Test{{APIName}}API(t *testing.T) {
    InitializeTester[*onshape.{{APIName}}ApiService](t)

    {{#Requests}}
    OpenAPITest{
        Call: onshape.{{.}}{},
        Expect: Todo(),
    }.Execute()
    
    {{/Requests}}
}